@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body{
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 121, 107, 1) 14%, rgba(255, 0, 116, 1) 100%);
}

.container {
    display: flex;
    width: 100vw;
    height: 10vh;
    justify-content: center;
    align-content: center;
}

.heading {
    margin-top: 25px;
    margin-left: 150px;
    font-size: 30px;
    font-family: sans-serif;
    color: antiquewhite;
    text-align:justify;
}