/*  @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; 

body{
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 121, 107, 1) 14%, rgba(255, 0, 116, 1) 100%);
}
.background {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    width: 100vw;
    height: 10vh;
    justify-content: center;
    align-content: center;
}

.heading {
    margin-top: 25px;
    margin-left: 150px;
    font-size: 30px;
    font-family: sans-serif;
    color: antiquewhite;
<<<<<<< HEAD
    
}

.list {
    list-style: none;
    padding: 0;
}

.item {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
} */
=======
    text-align:justify;
}
>>>>>>> 253d7f7a38a4852d46006ea247e7545567b514fb
