/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body{
    background: rgb(205, 159, 159);
}

.background {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    margin-top: 0px;
    background: rgb(144, 201, 173);
    padding-bottom: 30px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100vw;
    margin-top: 30px;
}

.text{
    color: #003996;
    font-size: 48px;
    font-weight: 700;   
}

.submit-container{
    display: flex;
    gap: 50px;
    margin: auto;
}

.submit{
    cursor: pointer;
    background: purple;
}

.gray{  
    background: white ;
    color: grey;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
}

.input img{
    margin: 0px 20px;
    height: 20px;
    width: 20px;

}

.input input{
    height: 30px;
    width: 250px;    
    font-size: 20px;
    color: rgb(11, 11, 11);
} */
